body {
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px;
    font-size: 36px;
    font-weight: 700;
}

.game-story {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.start button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
}

.prompt-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 18px;
}

.rps-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rps-options > button {
    height: 50px;
    width: 100px;
    margin: 24px 24px;
}

.round-results,
.round-results-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.scores > .player,
.scores > .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    font-size: 24px;
    font-weight: 900;
}

.player > .score {
    color: blue;
}
.computer > .score {
    color: red;
}

* {
    border: 1px solid red;
}