body {
    height: 100vh;
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.game-story {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.start button {
    padding: 12px 24px;
}

.rps-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rps-options > button {
    height: 100px;
    width: 150px;
    margin: 24px 24px;
}

* {
    border: 1px solid red;
}